<div class="container">
	<h1>View User Details</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Name</th>
				<th>Email</th>
			</tr>			
		</thead>
		<tbody>
			<tr>
				<td><%= user.title %></td>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
			</tr>			
		</tbody>
	</table>
	<table class="table">
		<tr>
			<td>
				<a class="btn btn-primary" href="/user/index">Back</a>				
			</td>
		</tr>
	</table>
</div>