<div class="container">
	<h1>Welcome to SailsJS Application</h1><br>
	<div class="container">
		<h4><a href="/customer/index">View Customers !!!</a></h4>		
	</div>
	<div class="container">
		<h4><a href="/user/index">View Users !!!</a></h4>		
	</div>	
</div>
